<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body >
    <div style="display: flex; flex-wrap:wrap; margin-bottom:60px">
        <form action="/cal/cal_init/" method="get" style="display: inline-block;">
            User Token <input type="text" name="token" value="{{ new }}" autocomplete="off" /> <br>
            <input type="submit" value="OK" style="margin: 5px 0px 10px 0px;">
            <input type="submit" value="New User" style="margin: 5px 0px 10px 0px;" formaction="/cal/new/">
            <p style="display: inline-block; margin: 0px;">{% if status %} Successful
                {% elif status_init %}{% else %} Failed {% endif %} </p>
            <p>{% if new %}Your new token is:{{ new }}{% endif %}</p>
        </form>
    </div>

</body>

</html>